mysql:
  host: '10.1.1.111'
  db: 'leistungs_db'
  user: 'leistungs_user'
  password: 'RealyStrongPassword'
google: '---Your-API-Key'
bot_token: '1234567:ASDF234567ASDFG'  # YOUR BOT TOKEN HERE GET FROM @BotFather
api_hash: '345678987654323456'  # YOUR API HASH GET FROM my.telegram.org
api_id: '1234567890'  # YOUR API ID GET FROM my.telegram.org
chat_id: '-9876543210'  # YOUR PRIVATE GROUP TO VIEW LOGS OR ERROR
leistungschat_id: '-1234567890'
leistungsadmin_id: '-1234567890'
usernames:
  - 'MyCoolName'  # YOUR USERNAME THIS IS MANDTORY
